<h1>All restaurants</h1>
<div class="row">
  <div class="col-6">
    <% if @restaurants.empty? %>
    <p>Sorry, no restaurant</p>
    <% else %>
    <ul>
      <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <div class="col-6">
    <%= link_to "Create new restaurant", new_restaurant_path, class:'btn btn-primary' %>

  </div>
</div>
